---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---
<a
  href='/'
  class:list={['flex h-11 w-full items-center gap-2 font-medium', className]}
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 20 20"
    width={16}
    height={16}
    aria-hidden="true"
    class="inline object-contain"
  >
    <circle
      cx="10"
      cy="10"
      r="10"
      class="fill-link"
    />
  </svg>
  Hikidas
</a>